@use "../../../../assets/util/" as *;

.hamburger {
  position: absolute;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 2;
  position: fixed;
  @include respond-to("tablet") {
    display: none;
  }

  h1 {
    text-align: center;
    margin: 15px;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }

  li {
    width: 100%;
    list-style-type: none;
    height: 40px;

    &:hover {
      border: 2px solid rgb(228, 156, 22);
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: black;
      height: 100%;
      width: 100%;
    }
  }
}
