.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  padding-top: 10vh;

  h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
  }

  p {
    font-size: 17px;
  }

  div {
    display: flex;
    width: 100%;
    height: auto;
  }

  .middle {
    width: 5%;
    height: 100%;
  }

  .contactInfo {
    margin-top: 35px;
  }

  .formContainer {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}
