@use "../assets/util/" as *;

.properties {
  width: 100%;
  padding: 60px 0;
  background-color: rgba(231, 161, 48, 0.2);

  h1 {
    margin-top: 40px;
    text-align: center;
  }

  .grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    @include respond-to("tablet") {
      width: 90%;
      grid-template-columns: auto auto;
    }
    @include respond-to("laptop") {
      grid-template-columns: auto auto auto;
    }
    @include respond-to("desktop") {
      grid-template-columns: auto auto auto auto;
    }
  }
}
