.properties {
  width: 100%;
  padding: 60px 0;
  background-color: rgba(231, 161, 48, 0.2);

  h1 {
    text-align: center;
  }

  .grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
