.logInForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    width: 82%;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px !important;
    margin: auto;
  }

  input {
    height: 25px;
    width: 80%;
    border-radius: 5px;
    outline: none;
  }

  span {
    width: 82%;
    font-size: 12px;
  }

  .signInButton {
    margin-top: 15px;
    width: 80%;
    height: 40px;
    padding: 10px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
  }

  .demoLoginButton {
    margin-top: 10px;
    height: 30px;
  }

  .error {
    border: 2px solid red !important;
    margin-bottom: 0;
  }
}

.forgotPassword {
  outline: none;
  background-color: transparent;
  border: none;
}
