.forgotPasswordModal {
  max-width: 400px;
  padding: 20px;
  z-index: 4;

  .forgotPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      display: flex;
      flex-direction: column;
    }

    .error {
      border: 1px solid red;
    }

    button {
      margin-top: 10px;
      width: 150px;
    }
  }
}

.backdrop {
  z-index: 3;
}
