@use "../../../assets/util/" as *;

.forgotPasswordBtn {
  font-weight: 600;
  cursor: pointer;
}

.forgotPasswordModal {
  width: 75%;
  padding: 20px;
  z-index: 4;
  @include respond-to("tablet") {
    max-width: 400px;
  }

  .forgotPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      display: flex;
      flex-direction: column;
    }

    .error {
      border: 1px solid red;
    }

    button {
      margin-top: 10px;
      width: 150px;
    }
  }
}

.backdrop {
  z-index: 3;
}
