@use "../../../../assets/util/" as *;

.reviewContainer {
  border: 2px solid rgba(231, 161, 48, 0.6);
  border-radius: 5px;

  width: 95%;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 20%;
  @include respond-to("tablet") {
    max-height: 44%;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(231, 161, 48, 0.7);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(231, 161, 48, 1);
  }
}
