@use "../../../../assets/util/" as *;

.reviewsContainer {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(231, 161, 48, 0.6);
  border-radius: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  max-height: 28%;
  @include respond-to("tablet") {
    max-height: 55%;
    margin: auto;
  }

  .reviewsInnerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 70%;
    @include respond-to("tablet") {
      max-height: 80%;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(231, 161, 48, 0.7);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(231, 161, 48, 1);
    }
  }
}
