.stars {
  margin-top: 5px;

  .active {
    fill: rgb(231, 161, 48);
  }

  .inactive {
    fill: #ccc;
  }

  .coverContainer {
    position: relative;
    .cover {
      background: rgb(250, 236, 214);
      height: 25px;
      mix-blend-mode: saturation;
      position: absolute;
      top: -25px;
      right: 0;
    }
  }

  svg {
    width: 20px;
  }
}
