.modal {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  border-radius: 5px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 24px rgba(231, 161, 48, 1);
  z-index: 2;
}
