.adminModalContainer {
  width: 100%;
  height: 80vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  .adminPropertiesModal {
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    position: fixed;
    z-index: 3;

    h1 {
      font-size: 32px;
      margin: 15px;
    }
  }
}
