@use "../../assets/util/" as *;

.aboutUs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  @include respond-to("small") {
    flex-direction: row;
  }

  img {
    width: 70%;
    @include respond-to("small") {
      width: 30%;
    }
  }

  p {
    width: 80%;
    font-size: 15px;
    text-align: justify;
    @include respond-to("small") {
      width: 35%;
    }
  }
}
