.aboutTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../../assets/images/aboutTitleBackground.webp");
  background-position: center;
  background-size: cover;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  padding: 60px 0px 40px 0px;

  h1 {
    text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
      -1px -1px 0 white;
  }
}
