@use "../../assets/util/" as *;

.aboutUs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  @include respond-to("small") {
    width: 90%;
    margin: auto;
    display: inline-block;
  }
  @include respond-to("medium") {
    display: flex;
    flex-direction: row;
  }

  img {
    width: 60%;
    @include respond-to("small") {
      float: left;
      margin: 0 20px 20px 0;
      width: 50%;
    }
    @include respond-to("medium") {
      width: 30%;
      min-width: 400px;
      align-self: flex-start;
    }
  }

  p {
    width: 90%;
    font-size: 15px;
    text-align: justify;
    @include respond-to("small") {
      width: auto;
    }
    @include respond-to("medium") {
      width: 40%;
    }
  }
}
