.modal {
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 24px rgba(231, 161, 48, 1);
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
