.inputContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

  .propertyType {
    width: 100%;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px 0;
  }

  label {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
  }

  input {
    margin-bottom: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
  }
  textarea {
    resize: none;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .uploadImage {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
    background-color: rgba(231, 161, 48, 0.8);
    font-size: 16px;
    text-align: center;

    &:hover {
      color: #e5a036;
      background-color: white;
      transition: all 500ms;
      border: 2px solid #e5a036;
    }
  }
  input[type="file"] {
    display: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .adminPropertiesButton {
    margin-top: 10px;
    height: 40px;
  }
}

.loadingScreen {
  z-index: 2;
}
