@use "../../../../assets/util/breakpoints.scss" as *;

.mobileNav {
  position: absolute;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: white;
  padding-left: 0;
  padding-top: 15px;
  z-index: 2;
  margin: 0;
  @include respond-to("tablet") {
    display: none;
  }

  li {
    width: 100%;
    height: 50px;
    list-style-type: none;
    text-align: center;
    line-height: 47px;
    a {
      text-decoration: none;
      color: black;
      width: 100%;
      height: 100%;
    }

    &:hover {
      border: 2px solid rgb(228, 156, 22);
    }
  }
}
