.notification {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 156, 22, 0.8);
  height: 50px;
  top: 82px;
  width: 100%;
  z-index: 2;
}

.hidden {
  display: none;
}
