.navButton {
  height: 35px;
  width: 80px;
  border-radius: 10px;
  margin: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: orange;
    transition: all 500ms ease;
  }
}
