.navButton {
  height: 100%;
  width: 20%;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  font-weight: bold;

  &:hover {
    color: #e5a036;
    transition: all 500ms ease;
  }
}
