@use "../../../assets/util/" as *;

.homeTextComponent {
  h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    @include respond-to("tablet") {
      font-size: 45px;
    }
  }

  h2 {
    font-size: 18px;
    text-align: center;
    margin: 15px;
    @include respond-to("tablet") {
      font-size: 25px;
    }
  }
}
