@use "../../../assets/util/" as *;

.loginModal {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  @include respond-to("tablet") {
    width: auto;
  }

  h1 {
    font-size: 24px;
    text-align: center;
    margin: 5px;
    @include respond-to("tablet") {
      font-size: 26px;
    }
  }

  .notRegisteredBorder {
    border-top: 2px solid gray;
    width: 95%;
    margin: 30px;
  }
}
