@use "../../../assets/util/breakpoints.scss" as *;

.mobileNav {
  position: absolute;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: white;
  padding-bottom: 20px;
  padding-left: 0;
  z-index: 2;
  margin: 0;
  @include respond-to("tablet") {
    display: none;
  }

  li {
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 15px 0;

    a {
      text-decoration: none;
      color: black;
    }

    &:hover {
      border: 2px solid rgb(228, 156, 22);
    }
  }
}
