@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

input {
  padding: 0 3px;
  margin: 3px;
}

input::placeholder {
  font-size: 12px;
}

textarea {
  padding: 0 3px;
  margin: 3px;
}

textarea::placeholder {
  font-size: 12px;
}
