.rightModal {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid rgba(231, 161, 48, 0.2);

  .buttonContainer {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    button {
      margin: 0 8px 5px 8px;
    }
  }
}
