@use "../../assets/util/" as *;

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  @include respond-to("tablet") {
    width: auto;
    margin: 0;
  }

  label {
    font-size: 14px;
    font-weight: 600;
  }

  input {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 0 7px rgb(0 0 0 / 60%);
    @include respond-to("tablet") {
      width: 350px;
    }
  }

  textarea {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
    resize: none;
    outline: none;
    box-shadow: 0 0 7px rgb(0 0 0 / 60%);
    @include respond-to("tablet") {
      width: 350px;
    }
  }

  .active {
    height: 40px;
    width: 95%;
    margin: 15px auto;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
    background-color: rgba(231, 161, 48, 0.8);
    @include respond-to("tablet") {
      width: 100px;
      align-self: flex-end;
      margin: 15px 0;
    }

    &:hover {
      color: #e5a036;
      background-color: white;
      transition: all 500ms;
      border: 2px solid #e5a036;
    }
  }

  .disabled {
    height: 40px;
    width: 95%;
    margin: 15px auto;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
    background-color: rgba(231, 161, 48, 0.8);
    @include respond-to("tablet") {
      width: 100px;
      align-self: flex-end;
      margin: 15px 0;
    }
  }

  .error {
    border: 2px solid red !important;
    margin-bottom: 0;
  }

  .errorText {
    font-size: 10px;
    color: red;
    margin-bottom: 10px;
  }
}
