.contactInformation {
  width: 100%;
  flex-direction: column !important ;
  align-items: flex-start !important;
  margin-top: 28px;

  p {
    margin: 0;
    margin-left: 5px;
  }

  span {
    margin-bottom: 15px;
    margin-left: 5px;
  }

  img {
    width: 65%;
  }
}
