.form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    font-weight: 600;
  }

  input {
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
  }

  textarea {
    height: 100px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
    resize: none;
  }
  button {
    height: 40px;
    width: 100px;
    margin: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.3);
    background-color: rgba(231, 161, 48, 0.8);
    align-self: flex-end;

    &:hover {
      color: #e5a036;
      background-color: white;
      transition: all 500ms;
      border: 2px solid #e5a036;
    }
  }

  .error {
    border: 2px solid red;
  }
}
