@use "../../../assets/util/" as *;

.mobileDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;

  .buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
}
