.profileModal {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  z-index: 3;
  padding: 20px;

  h1 {
    margin-top: 0;
  }

  button {
    height: 40px;
    margin: 7px;
  }
}

.profileBackdrop {
  z-index: 3 !important;
}
